<div class="container">
  <div class="row m-3">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="partners" routerLinkActive="active">
            Партнёры
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dummy" routerLinkActive="active">
            Другое
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row m-3">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<dv-toast-view>
</dv-toast-view>
