<ng-container *ngIf="form" [formGroup]="form">
  <div class="row">
    <div class="col">
      <div>
        <label class="form-label" dvCaption="partnerType" view="PARTNER" sfx=":"></label>
        <dv-combobox [formControlName]="PARTNER_FIELDS.partnerType" dataSource="PARTNER_TYPE" [showAll]="true"
                      dvErrSrc #errPartnerType="DvErrSrc">
        </dv-combobox>
        <dv-error-description [errorSrc]="errPartnerType"></dv-error-description>
      </div>
      <ng-container *ngIf="form.controls.partnerType.value === PartnerType.legalEntity"
                    [formGroupName]="PARTNER_FIELDS.companyInfo">
        <div>
          <label class="form-label" dvCaption="companyName" view="PARTNER" sfx=":"></label>
          <input type="text" class="form-control" [formControlName]="COMPANY_FIELDS.name"
                 dvErrSrc #errCompanyName="DvErrSrc"/>
          <dv-error-description [errorSrc]="errCompanyName"></dv-error-description>
        </div>
        <div>
          <label class="form-label" dvCaption="foundationYear" view="PARTNER" sfx=":"></label>
          <input type="text" class="form-control" [dvNumber] [formControlName]="COMPANY_FIELDS.foundationYear"
                 dvErrSrc #errFoundationYear="DvErrSrc"/>
          <dv-error-description [errorSrc]="errFoundationYear"></dv-error-description>
        </div>
        <div>
          <label class="form-label" dvCaption="numEmployees" view="PARTNER" sfx=":"></label>
          <input type="text" class="form-control" [dvNumber]="numEmplRange" [formControlName]="COMPANY_FIELDS.numEmployees"
                 dvErrSrc #errNumEmployees="DvErrSrc"/>
          <dv-error-description [errorSrc]="errNumEmployees"></dv-error-description>
        </div>
      </ng-container>
      <ng-container *ngIf="form.controls.partnerType.value === PartnerType.naturalPerson"
                    [formGroupName]="PARTNER_FIELDS.personalInfo">
        <div>
          <label class="form-label" dvCaption="firstName" view="PARTNER" sfx=":"></label>
          <input type="text" class="form-control" [formControlName]="PERSONAL_FIELDS.firstName"
                 dvErrSrc #errFirstName="DvErrSrc"/>
          <dv-error-description [errorSrc]="errFirstName"></dv-error-description>
        </div>
        <div>
          <label class="form-label" dvCaption="lastName" view="PARTNER" sfx=":"></label>
          <input type="text" class="form-control" [formControlName]="PERSONAL_FIELDS.lastName"
                 dvErrSrc #errLastName="DvErrSrc"/>
          <dv-error-description [errorSrc]="errLastName"></dv-error-description>
        </div>
        <div>
          <label class="form-label" dvCaption="middleName" view="PARTNER" sfx=":"></label>
          <input type="text" class="form-control" [formControlName]="PERSONAL_FIELDS.middleName"
                 dvErrSrc #errMiddleName="DvErrSrc"/>
          <dv-error-description [errorSrc]="errMiddleName"></dv-error-description>
        </div>
        <div>
          <label class="form-label" dvCaption="gender" view="PARTNER" sfx=":"></label>
          <dv-combobox dataSource="GENDER" [showAll]="true" [formControlName]="PERSONAL_FIELDS.gender"
                        dvErrSrc #errGender="DvErrSrc">
          </dv-combobox>
          <dv-error-description [errorSrc]="errGender"></dv-error-description>
        </div>
        <div>
          <label class="form-label" dvCaption="birthDate" view="PARTNER" sfx=":"></label>
          <dv-date-time-picker [withTime]="false" [formControlName]="PERSONAL_FIELDS.birthDate"
                                dvErrSrc #errBirthDate="DvErrSrc">
          </dv-date-time-picker>
          <dv-error-description [errorSrc]="errBirthDate"></dv-error-description>
        </div>
      </ng-container>
    </div>
    <div class="col">
      <ng-container [formGroupName]="PARTNER_FIELDS.addressInfo">
        <div class="row">
          <div class="col">
            <label class="form-label" dvCaption="city" view="PARTNER" sfx=":"></label>
            <input type="text" class="form-control" [formControlName]="ADDRESS_FIELDS.city"
                   dvErrSrc #errCity="DvErrSrc"/>
            <dv-error-description [errorSrc]="errCity"></dv-error-description>
          </div>
          <div class="col">
            <label class="form-label" dvCaption="idx" view="PARTNER" sfx=":"></label>
            <input type="text" class="form-control" [formControlName]="ADDRESS_FIELDS.idx"
                   dvErrSrc #errIdx="DvErrSrc"/>
            <dv-error-description [errorSrc]="errIdx"></dv-error-description>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="form-label" dvCaption="street" view="PARTNER" sfx=":"></label>
            <input type="text" class="form-control" [formControlName]="ADDRESS_FIELDS.street"
                   dvErrSrc #errStreet="DvErrSrc"/>
            <dv-error-description [errorSrc]="errStreet"></dv-error-description>
          </div>
          <div class="col">
            <label class="form-label" dvCaption="houseNumber" view="PARTNER" sfx=":"></label>
            <input type="text" class="form-control" [formControlName]="ADDRESS_FIELDS.houseNumber"
                   dvErrSrc #errHouseNumber="DvErrSrc"/>
            <dv-error-description [errorSrc]="errHouseNumber"></dv-error-description>
          </div>
        </div>
      </ng-container>
      <ng-container [formGroupName]="PARTNER_FIELDS.contactInfo">
        <div class="row">
          <div class="col">
            <label class="form-label" dvCaption="email" view="PARTNER" sfx=":"></label>
            <input type="text" class="form-control" dvEmail [formControlName]="CONTACT_FIELDS.email"
                   dvErrSrc #errEmail="DvErrSrc"/>
            <dv-error-description [errorSrc]="errEmail"></dv-error-description>
          </div>
          <div class="col">
            <label class="form-label" dvCaption="phone" view="PARTNER" sfx=":"></label>
            <input type="text" class="form-control" [dvPhone]="PHONE_MASK" [formControlName]="CONTACT_FIELDS.phone"
                   dvErrSrc #errPhone="DvErrSrc"/>
            <dv-error-description [errorSrc]="errPhone"></dv-error-description>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn" [ngClass]="{
        'btn-primary': !hasChanged,
        'btn-danger': hasChanged
      }" (click)="save()">
        <dv-caption value="save" view="BUTTONS">
        </dv-caption>
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
        <dv-caption value="cancel" view="BUTTONS">
        </dv-caption>
      </button>
    </div>
  </div>
</ng-container>
